// Specific CSS for your home-page
.title-margin {
  margin-top: 30vh;
}

.flex-box {
  // margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.flex-body {
  text-align: center;

}

#search-form-home {
   align-items: center;
   //left: 60px;
   margin-top: 50px;
   padding-left: 18px;
   z-index: 1;
 }

.home-title {
  // height: 100px;
  font-size: 100px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: Russo One;
  color: #FFBA09;
  text-shadow: 2px 2px #ff0000;
  position: relative;
  z-index: 1;

}

.home-tagline {
  // height: 100px;
  color: white;
  text-shadow: 1px 1px #444444;
  position: relative;
  z-index: 1;

}
