.center-text h2{
  text-align: center;
}
#profile-background {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#user_description {
  width: 100%;
}

.profile-pic{
  border-radius: 50%;
}

