<div class="wrapper">
  <div class="container">
    <div class="form-container">
      <div class="form-area">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h1>Create a new Planet</h1>

            <%= render 'form' %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
