.banner {
  color: white;
  text-align: center;
  min-height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 100px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: Russo One;
}
.banner p {
  font-size: 25px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  margin-bottom: 30px;
  text-shadow: 2px 2px 1px black;
}

// Überschreibung von standard banner Klass (height: 50vh)
.banner-show
{
  min-height: 60vh;
  //padding: 11px 16px;

}
