.form-container {
  margin: 20px 0 50px 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  box-shadow: 4px 4px 16px -6px rgba(0,0,0,0.75);
}

.form-area {
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 4px 4px 16px -6px rgba(0,0,0,0.4);
}

.inline-form {
  display: flex;
}


.inline-form .select2-selection {
  height: 100%;
  display: flex;
  align-items: center;
}

.inline-form .select2-selection--single .select2-selection__arrow {
  height: 39px;
}


.form-width {
  width: 320px;
}
